<div class="app-home">
  <h1 class="motto">The Fastest Angular on the Web</h1>
  <div class="home-words">
    <p>
      Fast and secure sites and apps delivered by pre-rendering files and
      serving them directly from a CDN, removing the requirement to manage or
      run web servers.
    </p>
  </div>
</div>
<div class="home-box">
  <div class="home-card">
    <h1 class="home-card-header">Fast</h1>
    <img
      class="home-card-image"
      src="https://res.cloudinary.com/dukdb4016/image/upload/v1585594392/leon-liu-c4W1QceKfr4-unsplash_1_rst1kt.jpg"
      alt="running cheetah"
    />
    <p class="home-card-content">
      <b>Faster websites.</b>
      Optimize your site with prerendering and global delivery.
    </p>
  </div>
</div>
<div class="home-box">
  <div class="home-card">
    <h1 class="home-card-header">Fast</h1>
    <img
      class="home-card-image"
      src="https://res.cloudinary.com/dukdb4016/image/upload/v1585594390/luca-baggio-eKU3JGNCCMg-unsplash_1_domlni.jpg"
      alt="running cheetah"
    />
    <p class="home-card-content">
      <b>Faster websites.</b>
      Optimize your site with prerendering and global delivery.
    </p>
  </div>
</div><div class="home-box">
  <div class="home-card">
    <h1 class="home-card-header">Fast</h1>
    <img
      class="home-card-image"
      src="https://res.cloudinary.com/dukdb4016/image/upload/v1585594388/jeremy-bishop-so_95pwK6k8-unsplash_1_drmppi.jpg"
      alt="running cheetah"
    />
    <p class="home-card-content">
      <b>Faster websites.</b>
      Optimize your site with prerendering and global delivery.
    </p>
  </div>
</div><div class="home-box">
  <div class="home-card">
    <h1 class="home-card-header">Fast</h1>
    <img
      class="home-card-image"
      src="https://res.cloudinary.com/dukdb4016/image/upload/v1585594385/sacha-gregoire-vh0FucFJ7pw-unsplash_1_blppcu.jpg"
      alt="running cheetah"
    />
    <p class="home-card-content">
      <b>Faster websites.</b>
      Optimize your site with prerendering and global delivery.
    </p>
  </div>
</div>
